<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional Rendering</title>
</head>
<body>
    <div id="app">
        <p v-if="show">You can see me! <span>Hello!</span></p>
        <p v-else>Now you see me</p>
        <template v-if="show">
            <h1>Heading</h1>
            <p>Inside a template</p>
        </template>
        <p>Can you also see me?</p>
        <button @click="show = !show">Toggle Show</button>
    </div>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>