<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Styling</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <div id="app">
        <div class="demo" :style="myStyle"></div>
        <div class="demo"></div>
        <div class="demo"></div>
        <hr>
        <input type="text" v-model="colour">
        <input type="text" v-model="width">
    </div>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>